div {
  width: 800px;
  margin: 50px;
  height: 100;
  padding: 20px;
  border-color: red;
  border-width: 5px;
  border-style: dashed;
}
img {
  padding: 20px;
  width: 200px;
  margin: auto;
  height: 100;
}
h3 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
p {
  padding: 20px;
}
